.dt-header {
    height: 64px !important;
}

.dt-header nav {
    height: 64px !important;
}

.dt-header a {
    cursor: pointer;
}

.dt-header .brand-logo {
    @include respond( mobile ) {
        line-height: 64px;
    }
}

.dt-header .button-collapse {
    @include respond( mobile ) {
        height: 64px !important;
        line-height: 64px !important;
    }
}

.dt-header .button-collapse i {
    @include respond( mobile ) {
        height: 64px !important;
        line-height: 64px !important;
    }
}

.dt-nav {
    @include respond( desktop ) {
        padding: 0 50px;
    }
}

.dt-logo-container {
    height: inherit;
}

.dt-logo {
    height: 60%;
    width: 183px;
    margin-top: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.dt-collapse i {
    margin-left: 20px;
    font-size: 2.5em !important;
}
