.dt-section {
    padding: 0 0 50px 0;
}

.dt-section-title {
    padding: 150px 0 120px 0;
    font-weight: 300;
    margin-bottom: 20px;
}

.dt-container {
    margin-top: -120px;
}

.dt-row {
    margin-bottom: 0px;
}

.dt-map {
    height: 600px;

    @include respond( phones ) {
        height: 400px;
    }
}
